
{% extends "layout.html" %}
{% block title %}Welcome to Chords{% endblock %}
{% block heading %}Welcome to Chords{% endblock %}
{% block content %}

<style>
.boxl {
    position: relative;
    left: 80px;
    float: left;
    width: 30%;
    text-align: center;
    border: 3px solid ;
    padding: 10px;
}
.boxr {
    position: relative;
    right: 80px;
    float: right;
    width: 30%;
    text-align: center;
    border: 3px solid ;
    padding: 10px;
}



hr {
    clear:both;
}
</style>

<hr>
<br>
<b>
A music webapp implemented with a postgreSQL database backend.
</b>
<br>By Bryan Kim and Peter Jiang
<br>
<br>
<hr>
<br>


<div>
    <div class="boxl">
        <h3><a href="login">Login</a></h3>
    </div>
    <div class="boxr">
        <h3><a href="register">Register</a></h3>
    </div>
</div>
{% endblock %}

