{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block heading %}Register{% endblock %}
{% block content %}


<style>
.boxl {
    position: relative;
    left: 80px;
    float: left;
    width: 30%;
    text-align: center;
    border: 3px solid ;
    padding: 10px;
}
.boxr {
    position: relative;
    right: 80px;
    float: right;
    width: 30%;
    text-align: center;
    border: 3px solid ;
    padding: 10px;
}



hr {
    clear:both;
}
</style>

<hr>
Sign up for a new account
<br>
<hr>
<br>




<form method="POST" action="/register">
<p>
Email: (max 30 char)<br>
<input type="email" name="email" required><br> 
Password: (max 20 char)<br>
<input type="password" name="password" required><br> 
Name: (max 30 char)<br>
<input type="text" name="name" required><br>
Gender:<br>
<select name="gender" required>
  <option value="M">Male</option>
  <option value="F">Female</option>
  <option value="O">Other</option>
</select><br>
University:<br>
<select name="university" required>
{% for n in universities %}
  <option value="{{n}}">{{n}}</option>
{% endfor %}
</select>
<br>
<br>
<input type="submit" value="Register">
</p>
</form>

<br>
<hr>
<br>

<h2>{{message}}</h2>

<br>
<hr>
<br>

<div>
    <div class="boxl">
        <h3><a href="login">Back to Login</a></h3>
    </div>
    <div class="boxr">
        <h3><a href="/">Back to Home</a></h3>
    </div>
</div>

{% endblock %}



